body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
    background-color: #87CEEB;
}

.menu-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#shopScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 3;
    display: none;
    width: 80%;
    max-width: 300px;
  }
  

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
}

#gameOverMessage {
    display: none;
    font-size: 30px;
    color: red;
    text-align: center;
}
